<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/css/hello.css" rel="stylesheet">
</head>
<body>
    账号:
    <input id="username" type="text">
    密码:
    <input id="password" type="password">
    <button id="submit">提交</button>

    <script src="/static/lib/jquery.js"></script>
    <script>
        $(function(){
            $('#submit').on('click',function(){
                let username = $('#username').val();
                let password = $('#password').val();

                $.post('/api/login',{username:username,password:password},function(res){
                    if(res.code === 200){
                        window.location.href = '/'
                    }else{
                        if(res.msg){
                            alert(res.msg)
                        }
                    }
                })
            })

        }())
    </script>
</body>
</html>